# Virtual environment
venv/
env/
*.venv/
.venv/
.venvrc
fastapi/fastapi-venv
pip-selfcheck.json

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# IDE specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Editor specific files
*~
*.swp
*.swo
*.bak
*.tmp
*.tmp.*
*.DS_Store